.item {
    position: relative;
    transition: transform 0.2s ease-in-out;
    overflow: hidden;
    padding: 0 10px;

    &:hover {
        .overlay {
            opacity: 1;
        }

        .orderButton {
            opacity: 1;
            transform: translate(-50%, -50%);
        }
    }

    .image {
        position: relative;
        height: 300px;

        img {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    }

    h5 {
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .overlay {
        position: absolute;
        border-radius: 10px;
        z-index: 2;
        top: 0;
        left: 10px;
        width: calc(100% - 20px);
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .orderButton {
        z-index: 3;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        background: var(--gradient-yellow);
        border-radius: 10px;
        color: #000;
        padding: 12px 24px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        transition: opacity 0.3s, transform 0.5s;
        border: none;
        white-space: nowrap;
    }
}

.content {
    border-bottom-left-radius: 10px; /* Bo góc trên bên trái */
    border-bottom-right-radius: 10px; /* Bo góc trên bên phải */
    background-color: #151515;
    padding: 10px;
    h5 {
        white-space: nowrap; /* Ngăn chữ xuống dòng */
        overflow: hidden; /* Ẩn phần nội dung bị tràn */
        text-overflow: ellipsis; /* Hiển thị dấu "..." khi nội dung bị cắt */
        // height: 50px;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .info {
        span {
            position: relative;

            margin-right: 20px;
            &::after {
                content: "";
                position: absolute;
                right: -10px;
                top: 50%;
                transform: translateY(-50%);
                width: 1px;
                height: 15px;
                background-color: #ccc;
            }

            &:last-child::after {
                display: none; // Ẩn đường kẻ ở thẻ cuối cùng
            }
        }
    }
}
