/* loadingFullPage.module.scss */
.loadingContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8); // hoặc màu bạn muốn che phủ
    z-index: 99999; // cao hơn hết
    display: flex;
    justify-content: center;
    align-items: center;
}

.lottieAnimation {
    width: 200px;
    height: 200px;
}
