.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filter {
    display: inline-flex;
    justify-content: space-between;
    p {
        white-space: nowrap;
    }

    .selection {
        width: 200px;
    }
    .input {
        width: 200px;
    }
    .search {
        width: fit-content;
    }
    .calendar {
        width: 250px;
    }
}

.listInvoiceContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .listInvoiceContainer {
        width: 100%;
        background-color: var(--dark-secondary);
        padding: 20px;
        border-radius: 10px;
    }
}

.flexColumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
