.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: calc(100vh - 100px);
}
.loadingItem {
  opacity: 0.5;
}

.discount {
  display: flex;
  .btnAdd {
    margin-left: auto;
  }
}
.titleContainer {
  font-weight: 500;
}
.formPopup {
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  .title {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
  }
  .groupItem {
    flex: auto;
    display: flex;
    flex-direction: column;
    label {
      font-weight: 500;
    }
  }
  .row {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .btnAdd {
    margin-top: 10px;
    margin-left: auto;
  }
}
