.container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    .popupContent {
        position: relative;
        min-width: 450px;
        height: fit-content;
        padding: 20px 35px;
        background: #fff;
        border-radius: 30px;
        .iconClose {
            position: absolute;
            top: 15px;
            right: 30px;
            color: var(--grey);
            font-size: 20px;
            transition: all 0.2s;
            &:hover {
                color: var(--dark-secondary);
            }
        }
    }
}
.dark {
    background: #303030 !important;
}
