.global-color {
    --bg: #1e1e1e;
    --bg-primary: #f4f6fa;

    --border-color: #e4e4e4;
    --border-color-btn: #dae1ea;

    --light: #ffff;
    --dark: #151515;
    --hightlight: #f3b817;
    --red: #a70304;
    --hover: #ddebfe;

    --title-color: #2f3d50;
    --text-color: #fff;
    --text-color-light: #ffff;
    --text-color-table: #202939;
    --text-color-secondary: #23262f;
    --text-color-secondary-2: #353945;
    --text-color-secondary-3: #777e90;
    --text-color-secondary-4: #b1b5c3;

    --gradient-yellow: linear-gradient(90deg, #efeb77 0%, #f3b817 100%);
    --gradient-yellow-reverse: linear-gradient(90deg, #f3b817 0%, #efeb77 100%);
    --gradient-red-red: linear-gradient(90deg, #b80000 0%, #ff5e5e 100%);
    --gradient-red-red-reverse: linear-gradient(
        90deg,
        #ff5e5e 0%,
        #b80000 100%
    );
    --gradient-blue-blue-red: linear-gradient(
        90deg,
        #0b99d2 3.55%,
        #d42352 99.49%
    );
    --gradient-blue-blue-blue: linear-gradient(
        90deg,
        #1da7df -8.49%,
        #0b99d2 45.98%,
        #13c0f2 106.91%
    );
    --gradient-blue-white: linear-gradient(90deg, #0fafe4 -25.26%, #fff 115.9%);
}
