.container {
    position: relative;
    min-height: calc(100vh - 100px);
}
.header {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    .search {
        width: 50%;
        display: flex;
        gap: 10px;
    }
}
.formPopup {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .title {
        text-align: center;
        font-size: 20px;
        font-weight: 500;
    }
    .groupItem {
        flex: auto;
        display: flex;
        flex-direction: column;
        label {
            font-weight: 500;
        }
    }
    .row {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .date {
        width: 50%;
    }
    .country {
        width: 50%;
    }
    .btnAdd {
        margin-top: 10px;
        margin-left: auto;
    }
}
.category {
    width: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px; // Adjust spacing between <p> tags
    .categoryItem {
        width: fit-content;
        margin: 0;
        padding: 4px 8px;
        background-color: var(--grey-primary); // Example background color
        border-radius: 4px; // Rounded corners
        font-size: 14px; // Adjust font size
        color: #333; // Text color
        // Add any other styles as needed
    }
}
