@import "../../../styles/breakpoints";

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 99;
    // padding: 0 10px;
    background: var(--dark);
    :global(.swiper-slide) {
        height: auto !important; /* Ghi đè height mặc định */
    }
}

.container {
    padding: 10px 0;
    // position: relative;
    // padding: 0 10px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    .headerLeft {
        display: flex;
        flex: 1;
        align-items: center;
        .logo {
            // padding: 10px 0;
            object-fit: cover;
            width: auto;
            height: 100%;
            margin: 0 20px;
        }
        .menuicon {
            margin: 0 10px;
            display: none;
            font-size: 25px;
        }
        .menu {
            width: 100%;
            // opacity: 1;
            // visibility: visible;
            display: flex;
            align-items: center;
            // margin-left: 20px;
            // column-gap: 15px;
            li {
                margin: 0 1%;
                // padding: 0 5px;
                &.active {
                    color: var(--hightlight);
                }
                list-style: none;
                transition: all 0.2s ease-in-out;
                &:hover {
                    color: var(--hightlight);
                }
            }

            a {
                font-size: 12px;
                font-weight: 600;
                letter-spacing: 2px;
                text-transform: uppercase;
            }
        }
    }
    .headerRight {
        margin: 0 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        // .search {
        //     position: relative;
        //     display: flex;
        //     align-items: center;
        //     // margin: 0 10px;
        //     .searchButton {
        //         // position: relative;
        //         svg {
        //             font-size: 25px;
        //         }
        //     }

        //     .searchInputText {
        //         // position: absolute;
        //         // right: 35px;
        //         input {
        //             border: none;
        //             border-radius: 10px;
        //             box-shadow: none;
        //             height: 35px;
        //             padding: 0 20px;
        //             font-size: 14px;
        //             width: 250px;
        //             ::placeholder {
        //                 font-size: 14px;
        //             }
        //         }
        //     }
        //     .searchButton {
        //         margin: 0 10px;
        //     }
        // }
        .login {
            display: flex;
            column-gap: 20px;
            a {
                position: relative;
                font-size: 14px;
                font-weight: 400;
                transition: all 0.2s ease-in-out;
                &:hover {
                    color: var(--hightlight);
                }
                &::after {
                    content: "";
                    position: absolute;
                    right: -10px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 1px;
                    height: 15px;
                    background-color: #ccc;
                }

                &:last-child::after {
                    display: none; // Ẩn đường kẻ ở thẻ cuối cùng
                }
            }
        }
    }
}
@media screen and (max-width: 980px) {
    .container {
        padding: 15px 0;
        // padding: 10px;
        .headerLeft {
            .logo {
                margin: 0 10px;
            }
            .menuicon {
                display: block; // Hiện icon menu khi màn hình nhỏ
            }

            .menu {
                padding: 20px 0;
                display: none; // Ẩn menu mặc định
                position: fixed;
                top: 60px;
                left: 0;
                width: 100%;
                height: 100vh;
                background: #232323;
                flex-direction: column;
                align-items: center;
                gap: 20px;
                transition: transform 0.3s ease-in-out;
            }

            .menu.active {
                display: flex; // Hiện menu khi có class active
            }
        }
    }
}
@media screen and (max-width: 481px) {
}
