.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 100px);
    gap: 20px;
    p {
        font-weight: 500;
    }
    .btnAdd {
        margin-left: auto;
    }
}
