.fullPageLoading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    z-index: 9999;
}
.lottieAnimation {
    width: 200px; /* Điều chỉnh kích thước */
    height: 200px;
}
