.container {
    position: fixed;
    width: 100%;
    height: 100vh;
    // background: linear-gradient(251deg, #383838 0%, #1e1e1e 99.7%);
    background: linear-gradient(251deg, #383838 0%, #1e1e1e 99.7%);

    display: flex;
    justify-content: center;
    align-items: center;
    h3 {
        text-transform: uppercase;
    }
}
.headerRow {
    position: relative;
    width: 450px;
    display: flex;
    justify-content: center;
    .back {
        font-size: 25px;
        color: #343434;
        outline: none;
        position: absolute;
        left: 0;
        transition: all 0.3s;
        &:hover {
            color: var(--hightlight);
        }
    }
}

.login {
    a {
        font-size: 14px;
    }
    padding: 35px 0;
    width: 650px;
    height: 550px;
    flex-shrink: 0;
    border-radius: 30px;
    background: rgba(21, 21, 21, 0.9);
    box-shadow: 4px 4px 6px 1px rgba(0, 0, 0, 0.3);
    display: flex;
    // justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
    .relative {
        position: relative;
    }
    .flexEnd {
        justify-content: flex-end !important;
    }

    .groupItem {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 450px;
        .input {
            pointer-events: auto; /* Đảm bảo input có thể nhận sự kiện */
            user-select: auto !important; /* Cho phép bôi đen chữ */
            font-size: 14px;
            width: 100%;
            height: 50px;
            border-radius: 30px;
            background: #2c2c2c;
            padding: 13px 65px 10px 35px;
            color: #fff;
            // outline: none;
            border: none;
            transition: all 0.2s;
            &::selection {
                background: #007bff; /* Màu xanh nổi bật */
                color: #fff; /* Chữ trắng */
            }
            &::placeholder {
                font-size: 14px;
            }
        }
        .inputWrapper {
            width: 100%;
        }

        .eye {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 25px;
            cursor: pointer;
            svg {
                color: #ccc;
                transition: color 0.2s;
                &:hover {
                    color: #fff;
                }
            }

            // z-index: 99;
        }
        .checkboxWrapper {
            position: relative;
            display: flex;
            align-items: center;
            cursor: pointer;
            input {
                border: 0;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }

            input:checked ~ svg {
                height: calc(var(--size) * 0.6);
                animation: drawCheckbox 0.2s ease-in-out forwards;
            }

            label {
                color: #fff;
                line-height: var(--size);
                cursor: pointer;
                position: relative;

                &:after {
                    content: '';
                    height: var(--size);
                    width: var(--size);
                    margin-right: 8px;
                    float: left;
                    border: 2px solid #fff;
                    border-radius: 3px;
                    transition: 0.15s all ease-out;
                }
            }

            svg {
                stroke: #fff;
                stroke-width: 3px;
                height: 0;
                width: calc(var(--size) * 0.6);
                position: absolute;
                left: calc(var(--size) * 0.21);
                top: calc(var(--size) * 0.2);
                stroke-dasharray: 33;
            }
        }

        @keyframes drawCheckbox {
            0% {
                stroke-dashoffset: 33;
            }
            100% {
                stroke-dashoffset: 0;
            }
        }
        a {
            color: var(--hightlight);
        }
        .dividerText {
            color: #ccc;
            font-size: 14px;
            font-weight: 500;
            position: relative;
            padding: 0 15px;

            &::before,
            &::after {
                content: '';
                flex: 1;
                height: 1px;
                background-color: #888;
                position: absolute;
                top: 50%;
                width: 70%;
            }

            &::before {
                left: -70%;
            }

            &::after {
                right: -70%;
            }
        }
    }
}
