.listInvoiceItem {
    width: 100%;
    padding: 15px 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background: var(--dark-primary);
    justify-content: space-between;
    .column {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: fit-content;
    }

    .column5 {
        width: fit-content;
        gap: 10px;
    }

    .item {
        display: flex;
        gap: 5px;
        color: var(--grey);
        p {
            color: #fff;
        }
    }
}
