.listCombo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    .combo {
        display: flex;
        width: 30%;
        padding: 20px 15px;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        border-radius: 10px;
        background: linear-gradient(180deg, #444 0%, #1a1a1a 50%, #151515 100%);
        box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.25);
        .title {
            font-size: 20px;
            letter-spacing: 0.4px;
            font-weight: 700;
        }
        .utility {
            display: flex;
            height: 150px;
            flex-direction: column;
            align-items: center;
            gap: 15px;
        }
        .price {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            .item {
                width: 100px;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                height: 100px;
                // border: 3px solid transparent; /* đường viền trong suốt */
                border-radius: 10px;
                // background: linear-gradient(#232323, #232323) padding-box,
                //     /* nền trong */ linear-gradient(#efeb77 0%, #f3b817 100%) border-box; /* viền gradient */
                background: linear-gradient(135deg, #f9d423, #ece9e6);

                /* xám đậm nhẹ */
                color: #151515;
                border: 1px solid #444;

                .nameCombo {
                    font-size: 16px;
                    font-weight: 700;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.comboDecorate {
    margin-top: 30px;
    position: relative;
    display: flex;
    padding: 14px 0;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    flex-shrink: 0;
    width: 100%;
    z-index: 0;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../../../../../public/static/img/background/combo_decorate.jpg') lightgray 50% / cover
            no-repeat;
        opacity: 0.5;
        z-index: -1;
    }

    .titleDecerate {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.48px;
    }

    .params {
        width: 750px;
        color: #fff;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        line-height: 20px; /* 142.857% */
    }

    .slider {
        overflow: hidden;
        width: 50%;
        position: relative;
        .swiperContent {
            padding: 0 30px;
        }
        img {
            width: 100%;
            height: 150px;
            object-fit: cover; // Đảm bảo ảnh lấp đầy khung hình mà không bị méo
        }

        .prevButton,
        .nextButton {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color: #ccc;
            background-color: rgba(0, 0, 0, 0.4);
            width: 40px;
            height: 40px;
            z-index: 10;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border-radius: 50%;
        }

        .prevButton {
            left: 0;
            z-index: 3;
        }

        .nextButton {
            right: 0;
            z-index: 3;
        }
    }
    .button {
        width: 50%;
    }
}
