/* components/Tabs/Tabs.module.scss */
.tabsContainer {
    width: 100%;
}

.tabHeaders {
    display: flex;
    border-bottom: 2px solid #ddd;
    margin-bottom: 1rem;
}

.tabButton {
    padding: 10px 16px;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: 500;
    color: #666;

    &:hover {
        color: var(--hightlight);
    }

    &.active {
        color: var(--hightlight);
        border-bottom: 3px solid var(--hightlight);
    }
}

.tabContent {
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 10px;
}
