.container {
    position: relative;
    padding-top: 20px;
}
.imgBkg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.fromInfor {
    height: 255px;
    position: relative;
    background: url(../../../../../public/static/img/background/background_formInfor.jpg) center center / cover
        no-repeat;
    .welcome {
        height: 100%;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: var(--dark);
        .username {
            font-family: 'Pacifico', cursive;
        }
        .title {
            font-family: 'Pacifico', cursive;
            font-size: 30px;
        }
    }

    .login {
        z-index: 2;
        padding: 15px 20px;
        background: rgba(30, 30, 30, 0.6);
        a {
            margin-left: 5px;
            color: var(--hightlight);
            // color: #ccc;
        }
    }
    .infor {
        padding: 20px;
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .phone {
            display: flex;
            justify-content: center;
            gap: 20px;
            button {
                width: 30%;
            }
        }
    }
}

.formBookRoom {
    margin-top: 30px;
    display: flex;
    gap: 20px;

    .left {
        width: 75%;
        .form {
            background-color: #151515;
            border-radius: 20px;
            font-size: 16px;
            width: 100%;
            padding: 30px;
            p {
                margin-bottom: 10px;
            }
            .groupItems {
                margin-bottom: 20px;
            }
            .date {
                flex: 1;
            }
            .room {
                width: 30%;
            }
            .combo {
                width: 30%;
            }
            .warning {
                border-radius: 5px;
                border: 2px solid #907639;
                padding: 20px;
                background: #f8f3d6;
                color: #907639;
                .title {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    margin-bottom: 10px;
                    svg {
                        font-size: 20px;
                    }
                }
                p {
                    font-family: Roboto;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.28px;
                    margin-bottom: 10px;
                }
            }
            .time {
                width: 100%;
                height: fit-content;
                background-color: #343434;
                border-radius: 10px;
                display: flex;
                flex-direction: row;
                .typeRoom {
                    width: 400px;
                    padding: 20px;
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    flex-wrap: wrap;
                    align-content: flex-start;
                    border-right: 1px solid #151515;
                    .room {
                        padding: 8px 26px;
                        border-radius: 10px;
                        width: fit-content;
                        background: var(--dark-primary);
                        color: var(--grey);
                        cursor: pointer;
                    }
                    .active {
                        background: var(--gradient-yellow);
                        color: var(--dark);
                    }
                }
                .timeFrame {
                    padding: 20px;
                    flex: 1;
                    height: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 6px;
                    .slot {
                        cursor: pointer;
                        width: fit-content;
                        height: fit-content;
                        padding: 2px 8px;
                        border-radius: 5px;
                        background: var(--dark);
                        color: var(--grey);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 12px;
                        &:hover {
                            color: #fff;
                        }
                    }
                    .activeSlot {
                        background: var(--gradient-yellow);
                        color: #151515;
                    }
                    .disable {
                        pointer-events: none;
                        color: var(--dark);
                        background: var(--grey);
                    }
                }
            }
        }
    }
    .right {
        padding: 10px 20px;
        height: fit-content;
        width: 25%;
        border-radius: 10px;
        background: var(--gradient-grey-black);
        .inforUser {
            margin: 10px 0 20px;
            padding: 20px 0;
            border-top: 1px solid #151515;
            border-bottom: 1px solid #151515;
            display: flex;
            flex-direction: column;
            row-gap: 10px;
        }
        .rowInfor {
            display: flex;
        }
        .rowInforBetween {
            display: flex;
            justify-content: space-between;
        }
        .label {
            color: var(--grey);
            margin-right: 8px;
        }
        .inforRoom {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
        }
        .totalMoney {
            padding: 20px 0 30px;
            margin-top: 20px;
            border-top: 1px solid #ccc;
        }
        .action {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
        h5 {
            text-align: center;
        }
    }
    h5 {
        font-size: 20px;
        font-weight: 700;
    }
}
.row {
    display: flex;
    gap: 20px;
}
.filmItem {
    display: flex;
    width: 100%;
    height: 300px;
    .filmContent {
        margin-left: 20px;
        .filmName {
            font-size: 20px;
        }
        .subName {
            color: var(--grey);
            padding-bottom: 20px;
        }
        .Listcategory {
            display: flex;
            .category {
                position: relative;
                text-align: center;
                padding: 0 8px;
                line-height: 20px;
                &::after {
                    content: ',';
                    position: absolute;
                    right: 0;
                }

                &:last-child::after {
                    content: '';
                }
            }
        }
    }
}
.formConfirm {
    width: 500px;
    p {
        color: #151515;
        margin-bottom: 10px;
    }
    .titleConfirm {
        font-size: 20px;
        font-weight: 500;
        text-align: center;
    }
}
.loading {
    width: 100%;
    height: 300px;
}

.popupPayment {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    svg {
        font-size: 32px;
        margin-bottom: 20px;
    }
    .success {
        color: #5cb85c;
    }
    .cancel {
        color: var(--red);
    }
    p {
        font-size: 20px;
        color: #151515;
        text-align: center;
        font-weight: 500;
    }
    .groupItem {
        margin-top: 10px;
        display: flex;
        gap: 10px;
    }
}
